<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ERROR</title>
	</head>
	<body>
		<h>Error 500: Internal Server Error at https://api.bittrex.com/api/v1.1/public/getmarketsummaries. The Bittrex API is down.</h>
	</body>
</html>